@charset "utf-8";
/* CSS Document */
* {
	margin:0; padding:0;	
}

body {
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
	
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:8px;
	color: rgba(128,128,128,.7);	
}

h2 {
	text-align:center;	
}

#container {
	width:960px;
	margin:0 auto;	
}

#main {
	margin:50px 0;	
}

#main img {
	width:80%;
	margin:0 10%;
	overflow:hidden;	
}

footer {
	width:15%;
	padding-left:1%;
	margin:0 auto;
	margin-bottom:10px;
}

footer img {
	width: 30%;
	opacity:0.5;
}

footer img:hover {
	opacity:1;
	transition: opacity 1s ease-out;
	-moz-transition: opacity 1s ease-out;
	-webkit-transition: opacity 0.5s ease-out;	
}